#!/data/adb/magisk/busybox sh
Module_dir="/data/adb/modules/Clash"

start() {
    
    if ! (ps -ef | grep -- 'Clash -d' | grep -vE 'inotifyd|grep') > /dev/null ; then
        nohup $Module_dir/Clash -d $Module_dir > $Module_dir/log.txt 2>&1 &

        iptables -C FORWARD -i Meta -j ACCEPT 2>/dev/null || iptables -I FORWARD -i Meta -j ACCEPT
        iptables -C FORWARD -o Meta -j ACCEPT 2>/dev/null || iptables -I FORWARD -o Meta -j ACCEPT
        echo "Clash内核已启动"
    else
        echo "Clash内核正在运行中，不执行启动命令"
    fi
}

stop() {
    if (ps -ef | grep -- 'Clash -d' | grep -vE 'inotifyd|grep') > /dev/null ; then
        pid=$(pgrep -f 'Clash -d')
        kill -15 $pid

        iptables -D FORWARD -i Meta -j ACCEPT 2>/dev/null
        iptables -D FORWARD -o Meta -j ACCEPT 2>/dev/null

        echo "Clash内核已关闭，并清理了 iptables 规则"
    else
        echo "Clash内核未在运行，不执行停止命令"
    fi
}

case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    *)
        echo "使用: $0 {start|stop}"
        exit 1
        ;;
esac
